@font-face {
  font-family: 'Variete-MLKB';
  src: url('Variete-MLKB.eot');
  src: url('Variete-MLKB.eot?#iefix') format('embedded-opentype'),
       url('Variete-MLKB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varietee';
  src: url('Varietee.svg#Varietee') format('svg'),
       url('Varietee.ttf') format('truetype'),
       url('Varietee.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

